<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	<link rel='stylesheet' href='/stylesheets/{{style}}.css'>
</head>
<body>
	<section id='navigation'>
		<button id='homeButton'>
			<a href='/'>Home</a>
		</button>
		<button id='dogsButton'>
			<a href='/dogs'>Dogs</a>
		</button>
		<button id='gamesButton'>
			<a href='game'>Game</a>
		</button>
		<button id='submissionButton'>
			<a href='submission'>Submission</a>
		</button>
	</section>
	{{{body}}}
</body>
</html>