<h1>Take a look at my Dogs!!!</h1>
<h6>Credit Baha Men for Musical Stylings</h6>

<div id='wrapper'>

	<div id='splitLeft'>
			<h2> Here is Chichi! </h2>
			<a href='images/dogs/chichi1.jpg' download>Download a picture of ChiChi!</a>
			<div id='chichi1Container'>
				<img src='images/dogs/chichi1.jpg' id='chichi1'>
			</div>
				<p>
				I love Chichi. She is my favorite dog. She is a 16 year old chihuahua who loves
				beef jerky and has the most selective hearing I've ever seen. 
				<br>
				Most days you can find Chichi lounging on one of her five dog beds; hold for the days
				when there is sun outside, then she will be outside soaking up the rays. 
				<br>
				She is a very cute dog. It makes up for her daily routine of barking at me and my girl
				friend at 10:30 PM when we're trying to go to sleep. You would think that she always wants
				the same thing, but it's a crap shoot every day. Most days its food she wants. Others its
				outside or water. Occasionally we might be working late and she'll be barking at us because
				she believes in a strong work-life balance; and wants us off our laptops. I believe this is 
				not because she subscribes to the theory of burnout, but mostly because she wants us to provide
				her with one of food, water, exercise or love.
				<p>
	</div>
		
	<div id='splitRight'>
			<h2> Here is Mia! </h2>
			<a href='images/dogs/mia1.jpg' download>Download a picture of Mia!</a>
			<div id='mia1Container'>
				<img src='images/dogs/mia1.jpg' id='mia1'>
			</div>
				<p>
				This is Mia. She is also a Chihuahua. I never expected to actually have to own and care for this dog. 
				So My girlfriend has a sister. She is the one that used to own Mia; and that worked out really well for all of us. 
				My girl friend's sister moved into a new house, and not more than 3 months into living there, her place flooded and they had 
				to replace all the sub-flooring.
				<br>
				Place a book mark in the flooring. For the longest time it was thought that Mia had a bladder issue because she constantly would
				go to the bathroom inside the house. We tried everything to stop this from happening. Special food, dog doors, fake grass inside;
				you name it. This dog still pees in the house sure as the sun rises every morning. She's gets brought to the vet for some tests,
				Nothing physically wrong with the dog. Turns out, she's just lazy. 
				<br>
				Back to the sub-flooring. Since the dog pees and the flooring is all tore up, we get asked to watch Mia for THREE months. We agree.
				My girl friend goes back after three months to vist / return the dog. Flooring is still not done, and guess who now is Mia's full time
				care taker? 
				<br>
				Full Disclosure, she's growing on me. 
				</p>
	</div>
</div>
<script type="text/javascript" src="scripts/dogs.js"></script>
