<div id="slideshow-container">
	<a class="prev" onclick='plusSlides(-1)'>Prev</a>
	<div class="mySlides">
		<img src='/images/home/kyle2.jpg'  id="outhouse" class='pic'/>
		<div class="text">Auguste Rodin's "The Thinker"</div>
	</div>
	<div class="mySlides">
		<img  src='/images/home/kyle3.jpg'  id="RedBullHomerun" class='pic'/>
		<div class="text">The Only Person I Beat in this Race had to be Lifted Off the Mountain</div>
	</div>
	<div class="mySlides">
		<img  src='/images/home/kyle4.jpg'  id="AirCreek" class='pic'/>
		<div class="text">Contrary To Popular Belief, I Flushed this.</div>
	</div>
	<a class="next" onclick='plusSlides(1)'>Next</a>
</div>
<br/>

<h1> Welcome to my Home Page!</h1>
<section id='selfPortrait'>
	<div id='pic1Container'>
		<img src='images/home/kyle1.jpg' id='kyle1'>
	</div>
</section>



<p id='aboutMe'>
Hey Everyone! Welome to my personal website! Total forewarning, this site has no Theme, and is only visually
appealing to the point where I won't lose any points on this project. I am an engineer by trade. The most
artistic thing I've ever done was modeling a DSLR camera. I have since lost the file, but I can promise you
it would never hang in the halls of the Louvre. 
<br>
That said, I can promise you that this website will be *mostly* functional (and probably be littered
with spelling errors because my HTML editor doesn't have spell check. You can find the following on
my webpage:
	<ul>
		<li>Home Page</li>
		<li>Page Dedicated to My Dogs</li>
		<li>Page Containing a "Game" that I made up</li>
		<li>A Submission Page where you can hear yourself talk, or get a random dog picture</li>
	</ul>
<br>
<p>
For some added "Pizazz" I've included some external links for your entertainment. I would really be Hyped
on that voted extra credit. I can pretty much assure you that I will not gain your vote via "stunning Visual"
So I'm trying to go the route of entertainment.
</p>
	<ul>
		<li>
			<a href='https://www.crazygames.com/game/fishy'>When I was Younger, I used to Play This Game All the Time and Listen to "Regulators" By Warren G on Repeat. I Still know every lyric. </a>
		</li>
		<li>
			<a href='https://www.youtube.com/watch?v=1plPyJdXKIY'>Regulators By Warren G</a>
		</li>
		<li>
			<a href='https://www.udemy.com/course/the-web-developer-bootcamp/'>The Most Useful CS290 Website Ever</a>
		</li>
		<li>
			<a href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'>Definitive Proof Bigfoot Exists </a>
		</li>
	</ul>
</p>
<p>
Thanks for coming to my website! 
*Music for Website is Open Source and Free Use. 
</p>

<script type="text/javascript" src="scripts/home.js"></script>