<h1> Here is a Page Where you can Make Get and Post Requests! </h1>


<form id ='form1'>
		<p> Click the 'I LOVE DOGS' Button to Get a Random Picture of a Dog!</p>
		<button type='button' form='form1' value='Submit' id='submit1'>I LOVE DOGS!</button>
		<div id='dogImageDiv'>
			<img src='' id='dogImage'>
		</div>

<form id='form2'>
	<p>Input Some Text and I will repeat what you said!</p>
	<label for='form2Input'>User Input: </label>
	<input type='text' id='form2Input'>
	<button type='button' value='Submit' id='submit3'>I LOVE HEARING MYSELF TALK!</button>
	<div>
		<h2>You sent the Following Data: <span id='postResponse'></span></h2>
	</div>

<script type="text/javascript" src="scripts/submission.js"></script>

